<p id="notice"><%= notice %></p>
<div class="profile">
<div class="left avatar">
<img src="/assets/<%= @user.avatarurl %>" width="60" height="60" alt="<%= @user.fname %>"/>
</div>
<div class="left authorinfo">
<p>
  <b>Author Name:</b>
  <%= @user.fname %>   <%= @user.lname %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
</div>

<div class="clear"></div>


</div>
<em>Posts By <%= @user.fname + " " + @user.lname %>:</em>
<!-- ABSTRACT THIS INTO A PARTIAL? -->
<% @user.posts.each do |e| %>
   <p><%= link_to(e.title,post_path(e)) %></p> 
<% end %>


<% content_for :right_col do %>
	<h4>Manage This User</h4>
	<%= link_to 'Edit', edit_user_path(@user) %>
	<br/>
<%= link_to 'Back', users_path %>
<% end %>