

<% @posts.each do |post| %>
	<div class="post_list_view">
	   	<div class="edits">
   		<%= link_to 'Show', post %> | <%= link_to 'Edit', edit_post_path(post) %> | <%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %>
   	</div>
		<h2><%= link_to post.title, post_path(@posts) %></h2>
			By <b><%= link_to post.user.fname, post.user %></b>

    <div><%= post.postcontent %></div>
   	<%= post.type %>
    	<!-- if this is a review, show more  -->
    	<div><%= post.locationname %></div>
    	<div><%= post.address %></div>
    	<div><%= post.rating %></div>
  	    
  	    
  	    <% post.comments.nil? ? "No Comments!" : post.comments.first %>



   	<div class="clear"></div>
  </div>
<% end %>

<% content_for :right_col do %>
<h4>Post Management</h4>
<%= link_to 'New Post', new_post_path %>
<% end %>

