<h1>Listing posts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Postcontent</th>
    <th>Type</th>
    <th>Locationname</th>
    <th>Address</th>
    <th>Rating</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= post.postcontent %></td>
    <td><%= post.type %></td>
    <td><%= post.locationname %></td>
    <td><%= post.address %></td>
    <td><%= post.rating %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path %>
