<!DOCTYPE html>
<html>
<head>
  <title>FalafelFinder</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
	
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><%=link_to "Posts", posts_path %></li>
			<li><%=link_to "Reviews", posts_path %></li>
			<li><%=link_to "Authors", users_path %></li>
				<div class="clear"></div>

		</ul>

	</nav>
</header>
<div class="container">
	<div class="left main_content">
	<%= yield %>
	</div>
	<div class="left sidebar">
		<%= yield :right_col %>
	</div>
	<div class="clear"></div>
</div>
</body>
</html>
